*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  min-height: 100vh;
  width: 100vw;
  overflow-x:hidden;

  background-image: radial-gradient(circle at 9.17% 9.17%, #a7ffff 0, #a4f3ff 25%, #9dd5f2 50%, #94b8cd 75%, #899dab 100%);

}