*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* Fundo degradê escuro com efeito "nebuloso" */
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    margin: 0;
    min-height: 100vh;
    padding-top: 50px; /* Espaço para não encostar na borda superior */
}